//Контейнер========================================================================================================================================================
.container-my {
   max-width: 800px;
   margin: 0 auto;
   padding: 0px 20px;
   height: 100%;
}

//Элемент форма начало========================================================================================================================================================
.tour-info {
   display: flex;
   height: 150px;
   @media (max-width: 800px) {
      flex-direction: column;
      height: auto;
   }

   &__img {
      flex: 0 0 182px;
      border-radius: 5px 0px 0px 5px;
      @media (max-width: 800px) {
         flex: 0 1 200px;
         max-width: 345px;
         align-self: center;
         margin: 0px 0px 30px 0px;
      }
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         border-radius: 5px;
      }
   }

   &__content {
      background-color: var(--white);
      font-family: 'Inter';
      height: 100%;
      display: flex;
      border: 0.5px solid #bebdbd;
      border-left: none;
      padding: 15px 0px;
      font-size: 12px;
      line-height: 15px;
      @media (max-width: 800px) {
         flex-direction: column;
         border: 0.5px solid #bebdbd;
         padding: 0px 12px;
      }
   }

   &__block {
      padding: 0px 10px;
      display: flex;
      flex-direction: column;
      row-gap: 13px;
      @media (max-width: 800px) {
         flex-direction: row;
         column-gap: 30px;
         padding: 10px 0px;
      }
      @media (max-width: 340px) {
         column-gap: 15px;
      }
      &:not(:last-child) {
         border-right: 1px solid #707070;
         @media (max-width: 800px) {
            border: none;
            border-bottom: 0.5px solid #000000;
         }
      }
      &:first-child {
         flex: 0 0 250px;
         @media (max-width: 800px) {
            flex: 1 1 auto;
         }
      }
   }

   &__item {
      display: flex;
      flex-direction: column;
      row-gap: 12px;
      &_amount {
         justify-content: space-between;
      }
   }

   &__subtitle {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
   }

   &__text {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      display: flex;
      align-items: center;
      padding: 0px 0px 0px 10px;
      &_city {
         padding: 0px 0px 0px 3px;
      }
      &_amount {
         padding: 0px 0px 0px 0px;
      }
      &.icon-mark::before {
         font-size: 21px;
         transform: translate(-3px, 0px);
      }
      &.icon-calendar::before {
         font-size: 19px;
         font-weight: 500;
         transform: translate(-10px, 0px);
      }
      &.icon-watch::before {
         font-size: 21px;
         transform: translate(-10px, 0px);
      }
      &.icon-person-edit::before {
         font-size: 22px;
         transform: translate(-10px, 0px);
      }
   }

   &__name-location {
      font-weight: 700;
      font-size: 14px;
      line-height: 19px;
      display: block;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
   }
}
//Элемент форма конец========================================================================================================================================================

//Элемент сумма оплаты начало========================================================================================================================================================
.to-pay {
   font-weight: 600;
   font-size: 18px;
   background: #cdffbc;
   border-radius: 5px;
   display: flex;
   padding: 0px 50px 0px 16px;
   max-width: 280px;
   justify-content: space-between;
   align-items: center;
   @media (max-width: 500px) {
      max-width: 345px;
      width: 100%;
   }
   &__text {
   }

   &__price {
      font-weight: 700;
      font-size: 24px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      &.icon-euro::before {
         transform: translate(55px, 0px);
         font-weight: 600;
      }
   }
}
//Элемент сумма оплаты конец========================================================================================================================================================

//Кнопка старт========================================================================================================================================================
.green-btn {
   font-weight: 600;
   font-size: 18px;
   line-height: 16px;
   letter-spacing: 1.25px;
   text-transform: uppercase;
   padding: 14px 0px;
   background: #41b619;
   border-radius: 5px;
   width: 280px;
   text-align: center;
   @media (max-width: 500px) {
      max-width: 345px;
      width: 100%;
   }
}
//Кнопка конец========================================================================================================================================================

//Элемент инфы начало========================================================================================================================================================
.general-info {
   max-width: 560px;
   background: #cdffbc;
   border-radius: 5px;
   padding: 10px 40px;
   @media (max-width: 500px) {
      padding: 10px 10px 10px 25px;
   }
   &__text {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.4px;
      display: inline-flex;
      @media (max-width: 500px) {
         font-size: 12px;
      }
      &.icon-info::before {
         color: #41b619;
         font-size: 24px;
         transform: translate(-17px, 0px);
      }
   }
}
//Элемент инфы конец========================================================================================================================================================

//PAGE Инфо о заказе START========================================================================================================================================================
.info-pay {
   &__wrap {
      margin: 0 auto;
      max-width: 800px;
      background-color: var(--white);
      height: 1500px;
      @media (max-width: 800px) {
         background-color: var(--light-gray);
      }
   }
   &__title {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.4px;
      margin-bottom: 20px;
   }

   &__tour-information {
      margin-bottom: 30px;
   }
   &__general-info-block {
      margin-bottom: 26px;
   }
   &__general-info {
      margin-bottom: 10px;
   }
   &__payment {
      display: flex;
      column-gap: 46px;
      margin-bottom: 50px;
      @media (max-width: 500px) {
         flex-direction: column-reverse;
         align-items: center;
         row-gap: 10px;
         margin-bottom: 25px;
         max-width: 345px;
         width: 100%;
         justify-content: center;
         margin: 0px auto 25px auto;
      }
   }

   &__to-pay {
   }

   &__payment-system {
      display: flex;
      column-gap: 20px;
      align-self: flex-start;
   }

   &__visa {
   }

   &__mastercard {
   }
   &__pay-btn {
      @media (max-width: 500px) {
         display: block;
         margin: 0 auto;
      }
   }
}
//PAGE Инфо о заказе END========================================================================================================================================================

//PAGE THANKS START========================================================================================================================================================
.page-thanks {
   &__wrap {
      margin: 0 auto;
      max-width: 800px;
      background-color: var(--white);
      height: 1500px;
      @media (max-width: 800px) {
         background-color: var(--light-gray);
      }
   }

   &__title {
      letter-spacing: 0.4px;
      font-weight: 600;
      font-size: 24px;
      line-height: 22px;
      margin-bottom: 10px;
      @media (max-width: 500px) {
         font-size: 20px;
      }
   }

   &__sub-title {
      letter-spacing: 0.4px;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 30px;
      @media (max-width: 500px) {
         margin-bottom: 10px;
      }
   }
   &__order-number {
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.4px;
      margin-bottom: 10px;
   }

   &__tour-information {
      margin-bottom: 20px;
   }

   &__bottom-content {
      display: flex;
      flex-direction: column;
      @media (max-width: 500px) {
         align-items: center;
         justify-content: center;
      }
   }
   &__to-pay {
      align-self: flex-end;
      margin-bottom: 30px;
      width: 100%;
      @media (max-width: 500px) {
         align-self: center;
      }
   }

   &__go-main-btn {
   }
}
//PAGE THANKS END========================================================================================================================================================
