@font-face {
   font-family: 'icon';
   src: url('../fonts/icon.woff?5rtdvk') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: block;
}

.icon::before {
   font-family: 'icon';
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.icon-align:before {
  content: "\e900";
}
.icon-arrow-down:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-baggage:before {
  content: "\e903";
}
.icon-bed:before {
  content: "\e904";
}
.icon-burger:before {
  content: "\e905";
}
.icon-calendar:before {
  content: "\e906";
}
.icon-calendar-2:before {
  content: "\e907";
}
.icon-calendar-3:before {
  content: "\e908";
}
.icon-camera:before {
  content: "\e909";
}
.icon-card-image:before {
  content: "\e90a";
}
.icon-check:before {
  content: "\e90b";
}
.icon-check-circle:before {
  content: "\e90c";
}
.icon-close:before {
  content: "\e90d";
}
.icon-close-square:before {
  content: "\e90e";
}
.icon-crrosing:before {
  content: "\e90f";
}
.icon-distribute-vertical:before {
  content: "\e910";
}
.icon-download:before {
  content: "\e911";
}
.icon-eraser:before {
  content: "\e912";
}
.icon-euro:before {
  content: "\e913";
}
.icon-exit:before {
  content: "\e914";
}
.icon-eye:before {
  content: "\e915";
}
.icon-facebook:before {
  content: "\e916";
}
.icon-info:before {
  content: "\e917";
}
.icon-inst:before {
  content: "\e918";
}
.icon-justify:before {
  content: "\e919";
}
.icon-link:before {
  content: "\e91a";
}
.icon-list-ol:before {
  content: "\e91b";
}
.icon-list-ul:before {
  content: "\e91c";
}
.icon-mark:before {
  content: "\e91d";
}
.icon-minus-out:before {
  content: "\e91e";
}
.icon-palette:before {
  content: "\e91f";
}
.icon-palm:before {
  content: "\e920";
}
.icon-pen:before {
  content: "\e921";
}
.icon-pencil:before {
  content: "\e922";
}
.icon-people:before {
  content: "\e923";
}
.icon-person:before {
  content: "\e924";
}
.icon-person-edit:before {
  content: "\e925";
}
.icon-plane:before {
  content: "\e926";
}
.icon-plus:before {
  content: "\e927";
}
.icon-plus-out:before {
  content: "\e928";
}
.icon-quotes:before {
  content: "\e929";
}
.icon-settings:before {
  content: "\e92a";
}
.icon-size:before {
  content: "\e92b";
}
.icon-taxi:before {
  content: "\e92c";
}
.icon-text-center:before {
  content: "\e92d";
}
.icon-text-left:before {
  content: "\e92e";
}
.icon-text-right:before {
  content: "\e92f";
}
.icon-three-dots-vertical:before {
  content: "\e930";
}
.icon-trash:before {
  content: "\e931";
}
.icon-triangle-down:before {
  content: "\e932";
}
.icon-triangle-down-line:before {
  content: "\e933";
}
.icon-triangle-left-line:before {
  content: "\e934";
}
.icon-triangle-right-line:before {
  content: "\e935";
}
.icon-type-bold:before {
  content: "\e936";
}
.icon-type-italic:before {
  content: "\e937";
}
.icon-underline:before {
  content: "\e938";
}
.icon-video:before {
  content: "\e939";
}
.icon-watch:before {
  content: "\e93a";
}
.icon-youtube:before {
  content: "\e93b";
}
