html {
   box-sizing: border-box;
}

*,
*::after,
*::before {
   box-sizing: inherit;
}

ul[class],
ol[class] {
   padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
   margin: 0;
}

ul[class] {
   list-style: none;
}

img {
   max-width: 100%;
   display: block;
}

input,
button,
textarea,
select {
   font: inherit;
   outline: none;
}

a {
   text-decoration: none;
   color: inherit;
   :focus {
      outline: none;
      text-decoration: none;
      color: inherit;
   }
}
button,
input {
   border: unset;
}

textarea {
   resize: none;
}

input,
textarea {
   border: unset;
   background: transparent;
   appearance: none;
   outline: none;
   &::placeholder {
   }
}
button {
   background: transparent;
   padding: unset;
   cursor: pointer;
}

//========================================================================================================================================================
:root {
   --white: #ffffff;
   --gray: #707070;
   --black: #000000;
   --light-green: #41b619;
   --light-gray: #ececec;
}

html,
body {
   height: 100%;
   font-family: 'Open Sans';
   font-weight: normal;
   font-style: normal;
   color: #212b36;
   overflow-x: hidden;
   font-size: 16px;
}
.container-xl {
   max-width: 1250px;
   margin: 0 auto;
   padding: 0px 25px;
   height: 100%;
}
.container-l {
   max-width: 1210px;
   margin: 0 auto;
   padding: 0px 25px;
   height: 100%;
}
.container-m {
   max-width: 850px;
   margin: 0 auto;
   padding: 0px 25px;
   height: 100%;
}
.container-s {
   max-width: 770px;
   margin: 0 auto;
   padding: 0px 25px;
   height: 100%;
}

//========================================================================================================================================================
$pc: 1200px;
$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 500.98px;
