@import 'null';
@import 'global';
@import 'icons';
@import 'fonts';
// @import './guides/info-pay&thanks-page';
// @import './guides/main-guide';
// @import './guides/profile-page';
// @import './guides/tag';
// @import './guides/order&balance';
@import './guides/AdminPanel';
@import './transfer/main-drive';
@import './transfer/drive-first-step';
@import './transfer/drive-second-step';
@import './transfer/drive-profile';
@import './blog/admin-add-article';
@import './blog/article';
@import './blog/all-articles';
@import './blog/admin-list-articles';
@import './blog/admin-list-sections';
