:root {
   --white: #ffffff;
   --gray: #707070;
   --black: #000000;
   --light-green: #41b619;
   --light-gray: #ececec;
   --yellow: #ffb703;
}
//========================================================================================================================================================

.client-route {
   &__item {
      background: #ffffff;
      border: 2px solid #ffb703;
      border-radius: 5px;
      position: relative;
      max-width: 510px;
      @media (max-width: $mobileSmall) {
         border: none;
         &:first-child {
            border-radius: 8px 8px 0px 0px;
            margin-bottom: 8px;
         }
         &:last-child {
            border-radius: 0px 0px 8px 8px;
         }
      }
   }

   &__input {
      font-weight: 600;
      font-size: 16px;
      letter-spacing: 0.4px;
      width: 100%;
      padding: 11px 20px 12px 50px;
      @media (max-width: $mobileSmall) {
         padding: 20px 20px 20px 50px;
         font-weight: 400;
      }
      @media (max-width: 360px) {
         font-size: 12px;
      }
      &::placeholder {
         font-size: 14px;
         color: #000000;
         @media (max-width: 360px) {
            font-size: 12px;
         }
      }
   }

   &__icon {
      font-weight: 700;
      font-size: 17px;
      line-height: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #ffb703;
      height: 31px;
      width: 31px;
      border-radius: 50%;
      position: absolute;
      left: 8px;
      top: 50%;
      transform: translate(0px, -50%);
   }

   &__arrow {
      display: block;
      height: 20px;
      padding-left: 16px;
      margin: 5px 0px;
      font-size: 20px;
      line-height: 0;
      @media (max-width: $mobileSmall) {
         display: none;
      }
   }
}

.client-date-time {
   display: flex;
   gap: 60px;
   @media (max-width: $mobile) {
      display: block;
      max-width: 200px;
   }
   &__date-block {
      flex: 0 0 200px;
      @media (max-width: $mobile) {
         margin-bottom: 20px;
      }
   }

   &__title {
      font-weight: 600;
      font-size: 16px;
      letter-spacing: 0.4px;
      margin-bottom: 7px;
   }

   &__date-item {
   }

   &__date-head {
      background: #ffffff;
      border: 2px solid #ffb703;
      border-radius: 5px;
      width: 100%;
      height: 45px;
      display: inline-flex;
      gap: 13px;
      align-items: center;
      padding: 12px 12px;
      .icon-calendar-3 {
         font-size: 20px;
      }
   }

   &__date-text {
   }

   &__date-body {
      display: none;
      &.open {
         display: block;
      }
   }
   //-------------------------------------
   &__time-block {
      flex: 0 0 200px;
      .open {
         .client-date-time__time-body {
            display: block;
         }
      }
   }

   &__time-item {
      position: relative;
   }

   &__time-head {
      background: #ffffff;
      border: 2px solid #ffb703;
      border-radius: 5px;
      width: 100%;
      height: 45px;
      display: inline-flex;
      gap: 13px;
      align-items: center;
      padding: 12px 12px;
      .icon-watch {
         font-size: 21px;
      }
   }

   &__time-text {
   }

   &__time-body {
      display: none;
      position: absolute;
      top: calc(100% + 5px);
      width: 100%;
      background: #ffffff;
      border: 2px solid #ffb703;
      border-radius: 5px;
      height: 160px;
      overflow: auto;
   }

   &__time-body-period {
      display: block;
      width: 100%;
      padding: 5px 10px;
      text-align: center;
   }
}

.amount-block {
   &__title {
      font-weight: 600;
      margin-bottom: 14px;
   }

   &__counter {
      background: #ffffff;
      border: 2px solid #ffb703;
      border-radius: 5px;
      max-width: 250px;
      width: 100%;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px 10px;
      &:nth-child(2) {
         margin-bottom: 15px;
      }
   }

   &__counter-name {
      font-size: 14px;
      line-height: 16px;
   }

   &__counter-control {
      display: flex;
   }

   &__counter-action {
      width: 30px;
      height: 30px;
      font-size: 20px;
      font-weight: 600;
      background: #e8edf1;
      &:disabled {
         background: #f8fafb;
      }
      &_minus {
      }
      &_plus {
      }
   }

   &__counter-result {
      display: block;
      width: 36px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
   }
}
.additional-info {
   &__item {
      &:not(:last-child) {
         margin-bottom: 12px;
      }
   }

   &__name {
      font-weight: 600;
      margin-bottom: 7px;
   }

   &__input {
      background: #ffffff;
      border: 2px solid #ffb703;
      border-radius: 5px;
      height: 45px;
      max-width: 510px;
      width: 100%;
      padding: 0px 12px;
      font-weight: 600;
      &::placeholder {
         font-size: 14px;
         display: flex;
         align-items: center;
      }
   }
}

//========================================================================================================================================================
.transfer-client-search {
   &__head {
      background: url('') 50% / cover no-repeat;
      height: 253px;
      @media (max-width: $tablet) {
         height: 332px;
         position: relative;
         &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgb(0, 0, 0, 0.4);
            z-index: 0;
         }
      }
   }

   &__head-content {
      @media (min-width: $tablet) {
         display: none;
      }
      max-width: 510px;
      margin: 0 auto;
      position: relative;
      z-index: 5;
      padding-top: 115px;
      padding: 130px 22px 0px 22px;
   }

   &__head-route-title {
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0.25px;
      color: #ffffff;
      margin-bottom: 20px;
   }

   &__head-route-mob {
   }

   &__container {
      max-width: 1044px;
      margin: 0 auto;
      padding: 0px 22px;
   }

   &__content {
      display: flex;
      justify-content: space-between;
      padding-top: 46px;
      padding-bottom: 67px;
      gap: 20px;
      @media (max-width: $tablet) {
         padding-top: 20px;
         flex-direction: column;
         align-items: center;
      }
   }

   &__column {
      &_left {
         flex: 0 0 510px;
         @media (max-width: $tablet) {
            flex: auto;
            order: 2;
         }
      }

      &_right {
         flex: 0 0 440px;
         @media (max-width: 1010px) {
            flex: 0 0 420px;
         }
         @media (max-width: $tablet) {
            flex: auto;
            width: 100%;
            order: 1;
         }
      }
   }

   &__route {
      margin-bottom: 33px;
      @media (max-width: $tablet) {
         display: none;
      }
   }

   &__car-park {
      margin-bottom: 19px;
   }

   &__date-time {
      margin-bottom: 17px;
   }

   &__amount {
      margin-bottom: 21px;
   }

   &__additional-info {
      margin-bottom: 30px;
   }

   &__get-offers {
      background: #ffb703;
      border-radius: 5px;
      font-size: 14px;
      padding: 12px 10px;
      font-weight: 700;
      max-width: 280px;
      width: 100%;
      @media (max-width: $tablet) {
         display: block;
         margin: 0 auto;
      }
   }

   &__map {
      background-color: #fff;
      height: 366px;
      @media (max-width: $tablet) {
         height: 335px;
         max-width: 510px;
         width: 100%;
         margin: 0 auto;
      }
      @media (max-width: $mobileSmall) {
         height: 335px;
      }
   }
}
