:root {
   --white: #ffffff;
   --gray: #707070;
   --black: #000000;
   --light-green: #41b619;
   --light-gray: #ececec;
   --yellow: #ffb703;
}
//========================================================================================================================================================

