:root {
   --white: #ffffff;
   --gray: #707070;
   --black: #000000;
   --light-green: #41b619;
   --light-gray: #ececec;
   --yellow: #ffb703;
}

//========================================================================================================================================================

.temp-input {
   // display: grid;
   // grid-template-columns: 1fr 1fr;
   // align-items: flex-end;
   // grid-gap: 12px 48px;
   // @media (max-width: 767.98px) {
   //    grid-template-columns: 1fr;
   // }
   &__input-wrap {
      max-width: 550px;
      @media (max-width: 767.98px) {
         grid-row: start;
         max-width: none;
      }
   }
   &__prompt-wrap {
      max-width: 560px;
      transform: translate(0, 7px);
      @media (max-width: 767.98px) {
         max-width: none;
         transform: translate(0px, 0px);
      }
   }

   &__content {
   }

   &__name {
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 11px;
      @media (max-width: 767.98px) {
         font-size: 14px;
         line-height: 19px;
      }
   }

   &__input {
      width: 100%;
      height: 45px;
      border: 1px solid rgba(26, 27, 32, 0.6);
      border-radius: 5px;
      padding-left: 18px;
      font-family: 'Inter';
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      @media (max-width: 767.98px) {
         font-size: 14px;
         line-height: 17px;
      }
      &::placeholder {
         font-family: 'Inter';
         font-size: 14px;
         line-height: 17px;
         color: rgba(26, 27, 32, 0.6);
         @media (max-width: 767.98px) {
            font-size: 12px;
            line-height: 15px;
         }
      }
   }

   &__info {
      margin-top: 10px;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.4px;
      @media (max-width: 767.98px) {
         font-size: 12px;
         line-height: 20px;
      }
   }
}

.prompt {
   &__content {
      background: rgba(255, 183, 3, 0.3);
      border-radius: 5px;
      padding: 10px 21px;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.4px;
      display: flex;
      align-items: flex-start;
      @media (max-width: 767.98px) {
         font-size: 11px;
         line-height: 15px;
         padding: 10px 10px;
         align-items: center;
      }
      .icon-info {
         color: #ffb703;
         font-size: 24px;
         margin-right: 12px;
         @media (max-width: 767.98px) {
            margin-right: 5px;
         }
      }
   }
}

.input-file {
   &__content {
      max-width: 560px;
      @media (max-width: 767.98px) {
         max-width: none;
      }
   }

   &__body {
      display: none;
      background: #ffffff;
      border: 1px dashed #becad6;
      border-radius: 4px;
      height: 300px;
      margin-bottom: 15px;
      img {
         border-radius: 4px;
         object-fit: cover;
         width: 100%;
         height: 100%;
      }
      @media (max-width: 767.98px) {
         height: 270px;
      }
      @media (max-width: 500.98px) {
         height: 200px;
      }
   }

   &__head {
      text-align: center;
      background: #ffffff;
      border: 1px dashed #becad6;
      border-radius: 4px;
      width: 100%;
      padding: 29px 45px;
      @media (max-width: 767.98px) {
         padding: 20px 45px;
      }
   }

   &__head-block {
      max-width: 308px;
      margin: 0 auto;
   }

   &__head-pc-text {
      font-size: 16px;
      line-height: 22px;
      margin: 0px -35px;
      margin-bottom: 15px;

      @media (max-width: 767.98px) {
         display: none;
      }
   }
   &__head-mob-text {
      font-size: 16px;
      line-height: 19px;
      margin: 0px -15px;
      margin-bottom: 15px;
      display: none;
      @media (max-width: 387px) {
         font-size: 12px;
      }
      @media (max-width: 767.98px) {
         display: block;
      }
   }

   &__head-lable {
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 1.25px;
      text-transform: uppercase;
      color: #ffffff;
      background: #000000;
      border-radius: 6px;
      padding: 10px 15px;
      display: block;
      width: 100%;
      @media (max-width: 387px) {
         letter-spacing: normal;
         font-size: 10px;
      }
   }

   &__head-input {
      width: 1px;
      height: 1px;
      overflow: hidden;
      clip: rect(0 0 0 0);
      opacity: 0;
   }
}

.temp-select {
   &__content {
      max-width: 560px;
      position: relative;
      @media (max-width: 767.98px) {
         max-width: none;
      }
   }

   &__head {
   }

   &__title {
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 10px;
      @media (max-width: 767.98px) {
         font-size: 14px;
         line-height: 19px;
      }
   }

   &__button {
      font-family: 'Inter';
      font-size: 14px;
      line-height: 17px;
      color: rgba(26, 27, 32, 0.6);
      border: 1px solid rgba(26, 27, 32, 0.6);
      border-radius: 5px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 45px;
      padding: 0px 15px;
      text-align: left;
      @media (max-width: 767.98px) {
         font-size: 12px;
         line-height: 15px;
      }
      .icon-triangle-down {
         font-size: 24px;
         color: #000000;
      }
   }

   &__body {
      display: none;
      position: absolute;
      top: 85px;
      background: #ffffff;
      border-radius: 5px;
      width: 100%;
      z-index: 10;
      @media (max-width: 767.98px) {
         top: 78px;
      }
   }

   &__body-list {
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.4px;
   }

   &__body-item {
      padding: 8px 16px;
      &:hover {
         background: #d9d9d9;
      }
   }
}

//========================================================================================================================================================

.transfer-second-step {
   background: #e0e0e0;
   &__wrapper {
      max-width: 1300px;
      margin: 0 auto;
   }

   &__container {
   }

   &__content {
      padding: 50px 0px 163px 0px;
      @media (max-width: 767.98px) {
         padding: 21px 0px 52px 0px;
      }
   }

   &__title {
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
      letter-spacing: 0.4px;
      margin-bottom: 20px;
   }
   &__sub-title {
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 15px;
      @media (max-width: 767.98px) {
         font-size: 14px;
         line-height: 19px;
         margin-bottom: 10px;
      }
   }

   &__select-mark {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px 39px;
      margin-bottom: 25px;
      @media (max-width: 767.98px) {
         margin-bottom: 12px;
         grid-template-columns: 1fr;
         .temp-select__content {
            order: 2;
         }
      }
   }

   &__mark-prompt-wrap {
      align-self: end;
      @media (max-width: 767.98px) {
         order: 1;
      }
   }

   &__select-model {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px 39px;
      margin-bottom: 25px;
      @media (max-width: 767.98px) {
         margin-bottom: 12px;
         grid-template-columns: 1fr;
      }
   }
   &__input-car-number {
      max-width: 300px;
      margin-bottom: 25px;
      @media (max-width: 500.98px) {
         max-width: none;
         margin-bottom: 12px;
      }
   }

   &__select-car-year {
      max-width: 300px;
      margin-bottom: 30px;
      @media (max-width: 500.98px) {
         max-width: none;
         margin-bottom: 20px;
      }
   }
   &__car-photo {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px 39px;
      margin-bottom: 25px;
      @media (max-width: 767.98px) {
         margin-bottom: 12px;
         grid-template-columns: 1fr;
      }
   }

   &__car-photo-input {
      @media (max-width: 767.98px) {
         order: 2;
      }
   }

   &__car-photo-prompt {
   }
   &__car-passport {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px 39px;
      margin-bottom: 50px;
      @media (max-width: 767.98px) {
         margin-bottom: 30px;
         grid-template-columns: 1fr;
      }
   }

   &__car-passport-input {
      @media (max-width: 767.98px) {
         order: 2;
      }
   }

   &__car-passport-prompt {
   }
   &__next-wrap {
      max-width: 280px;
      @media (max-width: 767.98px) {
         max-width: 345px;
         margin: 0 auto;
      }
   }

   &__next-btn {
      width: 100%;
      background: #000000;
      border-radius: 6px;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 1.25px;
      text-transform: uppercase;
      color: #ffffff;
      padding: 14px 0px;
      @media (max-width: 767.98px) {
         padding: 9px 0px;
      }
   }
}
