:root {
   --white: #ffffff;
   --gray: #707070;
   --black: #000000;
   --light-green: #41b619;
   --light-gray: #ececec;
   --yellow: #ffb703;
}
//========================================================================================================================================================

.driver-order-item {
   .driver-order-item-pc {
      display: grid;
      grid-template-columns: 5% 37% 26% 15% 17%;
      background-color: #fff;
      align-items: center;
      padding: 8px 0px 22px 0px;
      @media (max-width: $tablet) {
         display: none;
      }
      &__number-col {
         font-size: 12px;
         line-height: 16px;
         text-align: center;
         padding: 0px 5px;
      }
      //-------------------------
   
      &__route-col {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         height: 100%;
         padding-left: 15px;
      }
   
      &__route-top-line {
         display: flex;
         align-items: center;
         gap: 6px;
         margin-bottom: 6px;
         @media (max-width: 1150px) {
            flex-direction: column;
            align-items: start;
            gap: 5px;
         }
      }
   
      &__route-top-line-where {
         display: flex;
         align-items: center;
         gap: 12px;
         position: relative;
         cursor: help;
         &::before {
            content: attr(data-full);
            background: #ffffff;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            position: absolute;
            left: 66px;
            bottom: 100%;
            font-size: 10px;
            line-height: 16px;
            width: 100%;
            padding: 3px 10px;
            display: none;
         }
         &:hover {
            &::before {
               display: block;
            }
         }
      }
   
      &__route-top-line-where-icon {
         display: inline-flex;
         align-items: center;
         justify-content: center;
         font-weight: 700;
         font-size: 16px;
         line-height: 16px;
         background: #ffb703;
         border-radius: 50%;
         width: 24px;
         height: 24px;
         flex: none;
      }
   
      &__route-top-line-where-address {
         font-size: 10px;
         line-height: 16px;
         white-space: nowrap;
         max-width: 144px;
         overflow: hidden;
         text-overflow: ellipsis;
         @media (max-width: 1150px) {
            max-width: 250px;
         }
      }
   
      &__route-top-line-arrow {
         font-size: 29px;
         line-height: 100%;
         @media (max-width: 1150px) {
            transform: rotate(90deg);
            font-size: 12px;
            margin-left: 4px;
         }
      }
   
      &__route-bottom-line {
         display: flex;
      }
   
      &__route-bottom-line-block {
         flex: 1 1 33.333%;
         border-left: 1px solid #000000;
         padding: 0px 10px;
         min-height: 48px;
      }
   
      &__route-bottom-line-block-title {
         font-weight: 600;
         font-size: 14px;
         line-height: 17px;
         margin-bottom: 10px;
      }
   
      &__route-bottom-line-block-text {
         font-size: 12px;
         line-height: 15px;
         span {
            font-size: 12px;
         }
      }
      //------------------------------------------
   
      &__client-col {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         height: 100%;
         padding-left: 15px;
      }
   
      &__client-top-line {
         display: inline-flex;
         align-items: center;
         gap: 6px;
         margin-bottom: 12px;
      }
   
      &__client-top-line-user-icon {
         font-size: 24px;
         flex: none;
      }
   
      &__client-top-line-name {
         font-size: 12px;
         line-height: 16px;
      }
   
      &__client-bottom-line {
         min-height: 48px;
         display: flex;
         gap: 0px;
      }
   
      &__client-bottom-line-block {
         border-right: 1px solid #000000;
         padding: 0px 10px;
         &_baggage {
            flex: 1 1 25%;
         }
         &_passenger {
            flex: 1 1 75%;
         }
      }
   
      &__client-bottom-line-block-title {
         font-weight: 600;
         font-size: 14px;
         line-height: 17px;
         margin-bottom: 10px;
      }
   
      &__client-bottom-line-block-text {
         font-size: 12px;
         line-height: 15px;
         display: inline-flex;
         gap: 0px 20px;
         flex-wrap: wrap;
      }
   
      &__client-bottom-line-block-text-addults {
      }
   
      &__client-bottom-line-block-text-childs {
      }
   
      //-------------------------------
   
      &__contact-col {
         display: flex;
         align-items: flex-end;
         height: 100%;
         padding-left: 15px;
      }
   
      &__contact-phone-number {
         font-size: 12px;
         line-height: 16px;
      }
      //--------------------------------------
   
      &__status-col {
         padding-left: 15px;
         padding-right: 15px;
      }
   
      &__status-top-line {
         margin-bottom: 12px;
      }
   
      &__status-top-line-button {
         background: #f43249;
         border-radius: 6px;
         font-weight: 700;
         font-size: 14px;
         text-align: center;
         letter-spacing: 1.25px;
         text-transform: uppercase;
         padding: 10px 10px;
         max-width: 160px;
         width: 100%;
         &.hiden {
            display: none;
         }
      }
   
      &__status-bottom-line {
      }
   
      &__status-bottom-line-state {
         font-size: 12px;
         line-height: 16px;
         &.active {
            color: #41b619;
         }
         &.cancel {
            color: #707070;
         }
         &.complete {
            color: #023047;
         }
      }
   }
   .driver-order-item-mob {
      @media (min-width: $tablet) {
         display: none;
      }
   
      background: #ffffff;
      border: 0.5px solid #bebdbd;
      border-radius: 5px;
      padding: 10px 10px;
      &__row-date {
         display: flex;
         gap: 100px;
         padding-bottom: 7px;
         border-bottom: 0.5px solid #707070;
         @media (max-width: $mobileSmall) {
            gap: 10px;
            justify-content: space-between;
         }
      }
   
      &__date-block {
      }
   
      &__date-title {
         font-weight: 600;
         font-size: 14px;
         line-height: 19px;
         margin-bottom: 4px;
      }
   
      &__date-text {
         font-size: 12px;
         line-height: 16px;
         letter-spacing: 0.4px;
      }
      //------------------------
   
      &__row-route {
         padding: 7px 0px;
         border-bottom: 0.5px solid #707070;
      }
   
      &__route-title {
         font-weight: 600;
         font-size: 14px;
         line-height: 19px;
         margin-bottom: 7px;
      }
      &__route-block {
         display: flex;
         flex-direction: column;
         gap: 2px;
      }
      &__route-where {
         display: flex;
         align-items: center;
         gap: 12px;
      }
   
      &__route-icon {
         display: inline-flex;
         align-items: center;
         justify-content: center;
         font-weight: 700;
         font-size: 12px;
         line-height: 100%;
         background: #ffb703;
         border-radius: 50%;
         width: 17px;
         height: 17px;
         flex: none;
      }
   
      &__route-address {
         font-size: 12px;
         line-height: 16px;
         letter-spacing: 0.4px;
      }
   
      &__route-arrow {
         flex: none;
         display: inline-flex;
         margin-left: 2px;
         &::before {
            transform: rotate(90deg);
            font-size: 12px;
         }
      }
      //------------------------
   
      &__row-trip-info {
         display: flex;
         gap: 20px;
         padding: 6px 0px;
         border-bottom: 0.5px solid #707070;
         @media (max-width: $mobileSmall) {
            gap: 10px;
            justify-content: space-between;
         }
      }
   
      &__trip-info-block {
      }
   
      &__trip-info-title {
         font-weight: 600;
         font-size: 14px;
         line-height: 19px;
         margin-bottom: 5px;
      }
   
      &__trip-info-text {
         font-size: 12px;
         line-height: 16px;
         letter-spacing: 0.4px;
         &_passenger {
            flex-direction: column;
            display: flex;
         }
         .icon-euro {
            font-size: 12px;
         }
      }
   
      &__trip-info-text-addults {
      }
   
      &__trip-info-text-childs {
      }
      //------------------------
   
      &__row-client {
         display: flex;
         gap: 2%;
         padding: 6px 0px;
         margin-bottom: 20px;
      }
   
      &__client-block {
         @media (max-width: $mobileSmall) {
            flex: 0 0 32%;
         }
      }
   
      &__client-title {
         font-weight: 600;
         font-size: 14px;
         line-height: 19px;
         margin-bottom: 7px;
      }
   
      &__client-text {
         font-size: 12px;
         line-height: 16px;
         letter-spacing: 0.4px;
         display: inline-flex;
         align-items: center;
         word-break: break-word;
         &.active {
            color: #41b619;
         }
         &.cancel {
            color: #707070;
         }
         &.complete {
            color: #023047;
         }
         .icon-person-edit {
            font-size: 17px;
            margin-right: 3px;
         }
      }
   
      &__client-name {
         word-break: break-word;
      }
      //------------------------
   
      &__row-button {
         display: flex;
         justify-content: center;
         &.hidden {
            display: none;
         }
      }
   
      &__button {
         font-weight: 700;
         font-size: 14px;
         line-height: 16px;
         letter-spacing: 1.25px;
         text-transform: uppercase;
         background: #f43249;
         border-radius: 6px;
         padding: 10px 10px;
         width: 100%;
         max-width: 320px;
         display: flex;
         justify-content: center;
         align-items: center;
      }
   }
}


//========================================================================================================================================================

.driver-order-list {
   &__top-line {
      display: grid;
      grid-template-columns: 5% 37% 26% 15% 17%;
      background: #c7c4c4;
      padding: 6px 0px;
      margin-bottom: 5px;
      @media (max-width: $tablet) {
         display: none;
      }
   }

   &__top-line-column {
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      padding-left: 15px;
      &_number {
         text-align: center;
         padding-left: 0;
      }
   }

   &__item {
      &:not(:last-child) {
         margin-bottom: 10px;
      }
   }
}

//========================================================================================================================================================

.transfer-driver-orders {
   &__container {
   }

   &__content {
   }

   &__title {
      margin-bottom: 5px;
      @media (max-width: $mobile) {
         margin-bottom: 10px;
      }
   }

   &__sub-title {
      margin-bottom: 28px;
      @media (max-width: $mobile) {
         margin-bottom: 18px;
      }
   }

   &__options {
      display: flex;
      align-items: center;
      gap: 20px 60px;
      flex-wrap: wrap;
      margin-bottom: 20px;
      @media (max-width: $mobile) {
         margin-bottom: 10px;
      }
   }

   &__date {
   }

   &__sorting {
   }
   &__order-list {
   }
}
