:root {
   --white: #ffffff;
   --gray: #707070;
   --black: #000000;
   --light-green: #41b619;
   --light-gray: #ececec;
   --yellow: #ffb703;
}

.top-transfer {
   @media (min-width: 1300px) {
      max-width: 1300px;
      margin-left: auto;
      margin-right: auto;
   }
   @media (max-width: 767.98px) {
      margin-top: unset;
   }
   &__wrapper {
      background-image: url('');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      @media (max-width: 1200px) {
         background-size: 100% 100%;
      }

      @media (max-width: 576.98px) {
         background-image: url('');
      }
      &::after {
         content: '';
         background: rgba(0, 0, 0, 0.3);
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
      }
   }

   &__container {
   }

   &__content {
      padding: 156px 0px 85px 0px;
      color: var(--white);
      position: relative;
      z-index: 5;
      @media (max-width: 991.98px) {
         padding-bottom: 24px;
      }
      @media (max-width: 767.98px) {
         padding-top: 38px;
      }
      @media (max-width: 576.98px) {
         padding-top: 98px;
      }
   }

   &__title {
      font-weight: 700;
      font-size: 24px;
      line-height: 33px;
      letter-spacing: 0.25px;
      margin: 0px 0px 5px 0px;
      @media (max-width: 767.98px) {
         font-size: 18px;
         line-height: 25px;
         padding-right: 100px;
      }
   }

   &__reg-time {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.1px;
      margin: 0px 0px 26px 0px;
      @media (max-width: 767.98px) {
         margin-bottom: 40px;
      }
   }

   &__reg-check {
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      display: flex;
      align-items: center;
      margin-bottom: 7px;
      @media (max-width: 576.98px) {
         font-size: 14px;
         line-height: 19px;
      }
      &_last {
         margin-bottom: 58px;
         @media (max-width: 767.98px) {
            margin-top: 5px;
            margin-bottom: 36px;
         }
      }
      .icon-check-circle {
         font-size: 21px;
         padding: 0px 15px 0px 0px;
         display: inline-flex;
         align-items: center;
      }
   }

   &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--black);
      margin-bottom: 8px;
      background: #ffffff;
      border-radius: 6px;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 1.25px;
      text-transform: uppercase;
      text-align: center;
      height: 35px;
      width: 308px;
      @media (max-width: 576.98px) {
         background: var(--yellow);
         display: flex;
         justify-content: center;
         align-items: center;
         margin: 0px auto 8px auto;
      }
      @media (max-width: 360px) {
         width: 270px;
      }
   }

   &__btn-descr {
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      @media (max-width: 991.98px) {
         display: none;
      }
   }
}
.benefit-transfer {
   &__container {
   }

   &__title {
      font-weight: 700;
      font-size: 24px;
      line-height: 33px;
      text-transform: uppercase;
      margin-bottom: 64px;
      @media (max-width: 576.98px) {
         margin-bottom: 17px;
         font-size: 18px;
         line-height: 25px;
      }
   }

   &__block {
      display: flex;
      gap: 20px 47px;
      justify-content: center;
      @media (max-width: 991.98px) {
         flex-wrap: wrap;
      }
   }

   &__item {
      flex: 0 1 455px;
      height: 225px;
      background: var(--yellow);
      border-radius: 10px;
      padding: 30px;
      @media (max-width: 576.98px) {
         border-radius: 8px;
         padding: 20px 25px 25px 25px;
         height: auto;
      }
   }

   &__item-title {
      font-weight: 600;
      font-size: 20px;
      line-height: 27px;
      text-transform: uppercase;
      margin-bottom: 17px;
      max-width: 220px;
      @media (max-width: 576.98px) {
         max-width: none;
         font-size: 16px;
         line-height: 22px;
         margin-bottom: 10px;
      }
   }

   &__item-descr {
      font-size: 16px;
      line-height: 22px;
      padding-right: 60px;
      @media (max-width: 576.98px) {
         font-size: 14px;
         line-height: 19px;
         padding-right: 0;
      }
   }
}
.howstart-transfer {
   background: var(--yellow);
   padding: 50px 0px;
   @media (min-width: 1300px) {
      max-width: 1300px;
      margin-left: auto;
      margin-right: auto;
   }
   &__container {
   }

   &__content {
      text-transform: uppercase;
   }

   &__title {
      font-weight: 700;
      font-size: 24px;
      line-height: 33px;
      @media (max-width: 576.98px) {
         font-size: 18px;
         line-height: 25px;
      }
   }

   &__steps {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 30px;
      max-width: 950px;
      margin: 0 auto;
      @media (max-width: 991.98px) {
         flex-direction: column;
         align-items: start;
      }
   }

   &__step {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 10px;
      @media (max-width: 991.98px) {
         width: 100%;
         justify-content: start;
         border-bottom: 1px solid #000000;
         column-gap: 15px;

         &:first-child {
            padding-right: 100px;
         }
         &:nth-child(3) {
            padding-left: 42px;
         }
         &:last-child {
            border: none;
            padding-left: 92px;
            padding-right: 50px;
         }
      }
      @media (max-width: px) {
      }
   }
   &__arrow {
      font-size: 67px;
      @media (max-width: 991.98px) {
         display: none;
      }
   }

   &__number-step {
      font-weight: 700;
      font-size: 60px;
      line-height: 82px;
   }

   &__text-step {
      font-weight: 600;
      font-size: 20px;
      line-height: 27px;
      padding-right: 20px;
      @media (max-width: 576.98px) {
         font-size: 16px;
         line-height: 22px;
      }
   }
}
.mob-app {
   @media (min-width: 1300px) {
      max-width: 1300px;
      margin-left: auto;
      margin-right: auto;
   }
   &__wrapper {
      background-image: url('');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 640px;
      @media (max-width: 576.98px) {
         background-image: url('');
      }
   }

   &__container {
      position: relative;
   }

   &__content {
   }

   &__title {
      font-weight: 700;
      font-size: 48px;
      line-height: 70px;
      text-transform: uppercase;
      color: var(--white);
      padding-top: 85px;
      span {
         font-weight: 300;
         font-size: 48px;
         line-height: 65px;
         display: block;
         margin-bottom: -15px;
         @media (max-width: 991.98px) {
            font-size: 32px;
            line-height: 44px;
         }
      }
      @media (max-width: 991.98px) {
         font-size: 27px;

         line-height: 44px;
         padding-top: 44px;
      }
      @media (max-width: 576.98px) {
         color: var(--black);
      }
   }
   &__text {
      font-weight: 600;
      font-size: 20px;
      line-height: 27px;
      color: #ffffff;
      @media (max-width: 576.98px) {
         color: var(--black);
         font-weight: 400;
         font-size: 14px;
         line-height: 19px;
      }
   }
   &__phone {
      position: absolute;
      height: 330px;
      top: 168px;
      right: 25px;
      img {
         height: 100%;
      }
      @media (min-width: 768px) {
         display: none;
      }
   }
}
.transfer {
   color: var(--black);
   &__top {
      margin-bottom: 35px;
      @media (max-width: 576.98px) {
         margin-bottom: 50px;
      }
   }
   &__benefit {
      margin-bottom: 74px;
      @media (max-width: 576.98px) {
         margin-bottom: 50px;
      }
   }
   &__howstart {
   }
   &__mob-app {
   }
   &__download-app {
   }
}
